
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Beau+Rivage&display=swap');

:root {
    /* Colors */
    --color-background: #F4F7F5;
    --color-text: #222823;
    --color-accent: #3498db;
    --color-secondary: #95a5a6;
    --color-error: #e74c3c;
    
    /* Typography */
    --font-heading: 'Fredoka', sans-serif;
    --font-body: 'Inter', sans-serif;
    --font-script: 'Beau Rivage', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
    color: var(--color-text);
    background-color: var(--color-background);
    line-height: 1.6;
}

h1, h2, h3 {
    font-family: var(--font-heading);
}


header {
    background-color: transparent;
    padding: 1.5rem 2rem;
    width: 40rem;
    margin: 20px  40px auto;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: sticky;
    top: 20px;
    box-shadow: 0px 0 31px 0px #D8DDDE;(0 0 0 / 10%);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(90px);
    z-index: 100;
    border-radius: 80px;
}

nav ul {
    font-family: var(--font-heading);
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--color-text);
    font-weight: 600;
    transition: color 0.3s ease;
}

li a:hover {
    color: var(--color-accent);
}

h1 {
    type-family: var(--font-heading);
    font-size: 3rem;
    color: var(--color-text);
    text-align: center;
    justify-content: center;
    width: 720px;
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: transparent;
  border-radius: 20px;
  box-shadow: 0px 0 31px 0px #D8DDDE;(0 0 0 / 10%);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin: 0 auto;
   /* animation: gentle-float 8s ease-in-out infinite; */
}
/* 
@keyframes gentle-float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
} */



/* Projects Section */
.projects {
    padding: 2rem 2rem;
}

.projects h2 {
    text-align: left;
    margin-bottom: 3rem;
    font-size: 2.5rem;
    background-color: transparent;
  border-radius: 20px;
  box-shadow: 0px 0 31px 0px #D8DDDE;(0 0 0 / 10%);
  -webkit-backdrop-filter: blur(90px);
  backdrop-filter: blur(90px);
  border: 1px solid rgba(255, 255, 255, 0.5);
    width: fit-content;
    padding: 10px 20px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin: 0 auto;
}

.project-card {
    background-color: transparent;
  border-radius: 20px;
  box-shadow: 0px 0 31px 0px #D8DDDE;(0 0 0 / 10%);
  -webkit-backdrop-filter: blur(80px);
  backdrop-filter: blur(80px);
  border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    z-index: 1;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.project-card img {
    width: 100%;
    height: 250px; 
    object-fit: cover;  
}

.project-card h3 {
    padding: 1.5rem 1.5rem 0.5rem;
    margin: 0;
}

.project-card p {
    font-famaily: var(--font-body);
    font-size: 1rem;
    line-height: 1.4;
    padding: 0 1.5rem 1rem;
    color: var(--color-text);
    flex-grow: 1;  
}

.project-card .btn {
    font-family: var(--font-heading);
    display: inline-block;
    margin: 0 1.5rem 1.5rem;
    padding: 0.75rem 1.5rem;
    background-color: #575A5E;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
    text-align: center;
}

.project-card .btn:hover {
    background-color: var(--color-text);
}



main {
    padding: 2rem;
}

/* About Section */
.about {
    padding: 4rem 2rem;
}

.about-content {
    display: flex;
    flex-direction: row;
    gap: 12rem;
    align-items: center;
    justify-content: center;
    max-width: 3000px;
    margin: 0 auto;
    box-shadow: 0px 0 31px 0px #D8DDDE;(0 0 0 / 10%);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(40px);
  border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 30px;
    border-radius: 20px;
}

.about p{
    flex: 1;
    font-size: 1.1rem;
    line-height: 1.8;
    width: 43rem;
}


.about img {
    width: 580px;           
    height: 400px;         
    object-fit: cover;      
    border-radius: 5%;     
    flex-shrink: 0;         
}


.connect {
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    box-shadow: 0px 0 31px 0px #D8DDDE;(0 0 0 / 10%);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(40px);
  border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 30px;
    border-radius: 20px;
}


footer {
    font-family: var(--font-body);
    text-align: center;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    box-shadow: 0px 0 31px 0px #D8DDDE;(0 0 0 / 10%);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(40px);
  border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 30px;
    border-radius: 20px;
}


.floating-shapes {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;  /* Behind everything */
    pointer-events: none;  /* Can't click on them */
}

.shape {
    position: absolute;
    border-radius: 70% 30% 90% 40%;
    opacity: .8;
}

.shape-one {
    width: 800px;
    height: 700px;
    background: linear-gradient(-45deg, #8399a2, #eef2f3);
    top: -10%;
    left: -10%;
    animation: liquidMorph3 178s ease-in-out infinite;
}

.shape-two {
    width: 800px;;
    height: 900px;;
    background: linear-gradient(-45deg, #cad0ff, #e3e3e3);
    top: -20%;
    left: 60%;
    animation: liquidMorph3 178s ease-in-out infinite;
}

.shape-three {
    width: 900px;
    height: 1000px;
    background: linear-gradient(-45deg, #1a2766, #ae1b1e, #fc9f32);
    top: 50%;
    right: 40%;
    animation: liquidMorph3 178s ease-in-out infinite;
}

/* .shape-four {
    width: 80%;
    height: 50%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradient 15s ease infinite;
     animation: morph 40s ease-in-out infinite;
    top: 60%;
    right: 80%;
    animation: liquidMorph2 105s ease-in-out infinite;
} */

/* .shape-five {
    width: 50%;
    height: 50%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    top: 30%;
    left: 80%;
     animation: liquidMorph2 85s ease-in-out infinite;
} */

@keyframes liquidMorph1 {
    0%, 100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        transform: translate(0, 0) rotate(0deg) scale(1);
    }
    25% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
        transform: translate(50px, -30px) rotate(90deg) scale(1.1);
    }
    50% {
        border-radius: 70% 30% 50% 50% / 30% 50% 50% 70%;
        transform: translate(80px, 40px) rotate(180deg) scale(0.9);
    }
    75% {
        border-radius: 40% 70% 60% 30% / 70% 40% 60% 30%;
        transform: translate(30px, -50px) rotate(270deg) scale(1.05);
    }
}


@keyframes liquidMorph2 {
    0%, 100% {
        border-radius: 40% 60% 60% 40% / 40% 60% 40% 60%;
        transform: translate(0, 0) rotate(0deg) scale(1);
    }
    20% {
        border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;
        transform: translate(-40px, 60px) rotate(-45deg) scale(1.15);
    }
    40% {
        border-radius: 30% 70% 70% 30% / 60% 40% 60% 40%;
        transform: translate(-80px, 20px) rotate(-90deg) scale(0.85);
    }
    60% {
        border-radius: 50% 50% 30% 70% / 30% 70% 50% 50%;
        transform: translate(-50px, -40px) rotate(-135deg) scale(1.1);
    }
    80% {
        border-radius: 60% 40% 70% 30% / 70% 30% 40% 60%;
        transform: translate(-20px, 30px) rotate(-180deg) scale(0.95);
    }
}

@keyframes liquidMorph3 {
    0%, 100% {
        border-radius: 50% 50% 40% 60% / 50% 50% 60% 40%;
        transform: translate(0, 0) rotate(0deg) scale(1);
    }
    15% {
        border-radius: 30% 70% 50% 50% / 40% 60% 50% 50%;
        transform: translate(60px, -70px) rotate(60deg) scale(1.2);
    }
    30% {
        border-radius: 70% 30% 30% 70% / 60% 40% 40% 60%;
        transform: translate(-40px, -50px) rotate(120deg) scale(0.8);
    }
    50% {
        border-radius: 40% 60% 70% 30% / 30% 70% 60% 40%;
        transform: translate(80px, 60px) rotate(180deg) scale(1.1);
    }
    70% {
        border-radius: 60% 40% 40% 60% / 70% 30% 30% 70%;
        transform: translate(-60px, 30px) rotate(240deg) scale(0.9);
    }
    85% {
        border-radius: 50% 50% 60% 40% / 50% 50% 40% 60%;
        transform: translate(40px, -40px) rotate(300deg) scale(1.05);
    }
}

@keyframes liquidMorph4 {
    0%, 100% {
        border-radius: 70% 30% 50% 50% / 60% 40% 60% 40%;
        transform: translate(0, 0) rotate(0deg) scale(1);
    }
    33% {
        border-radius: 30% 70% 30% 70% / 30% 70% 30% 70%;
        transform: translate(-70px, 50px) rotate(120deg) scale(1.25);
    }
    66% {
        border-radius: 50% 50% 70% 30% / 50% 50% 30% 70%;
        transform: translate(70px, -60px) rotate(240deg) scale(0.75);
    }
}

@keyframes liquidMorph5 {
    0%, 100% {
        border-radius: 60% 40% 40% 60% / 50% 50% 50% 50%;
        transform: translate(0, 0) rotate(0deg) scale(1);
    }
    25% {
        border-radius: 40% 60% 70% 30% / 70% 30% 40% 60%;
        transform: translate(-90px, -40px) rotate(-90deg) scale(1.15);
    }
    50% {
        border-radius: 70% 30% 60% 40% / 40% 60% 30% 70%;
        transform: translate(-50px, 80px) rotate(-180deg) scale(0.85);
    }
    75% {
        border-radius: 30% 70% 40% 60% / 60% 40% 70% 30%;
        transform: translate(-70px, -60px) rotate(-270deg) scale(1.1);
    }
}

@keyframes float {
    0%, 100% {
        transform: translateY(0) translateX(0);
    }
    25% {
        transform: translateY(-20px) translateX(10px);
    }
    50% {
        transform: translateY(-80px) translateX(-10px);
    }
    75% {
        transform: translateY(-20px) translateX(5px);
    }
}



.hero-content {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}



.hero-tagline {
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    flex: 1;
    max-width: 500px;
}

.hero-tagline p {
    margin: 0;
    font-size: 1.1rem;
}


.reflection {
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
    box-shadow: 0px 0 31px 0px #D8DDDE;(0 0 0 / 10%);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(40px);
  border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 30px;
    border-radius: 20px;

}