@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&family=Space+Mono:wght@700&display=swap');

body {
  background-color: #F2F4F3;
}


.heading {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-size: 50px;
  margin-top: -12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

div,h1 {
  font-size: 18px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 2px;
  
}

h1 {
  margin-bottom: 20px;
  
}

div {
  font-size: 12px;
  opacity: 0.5;
  letter-spacing: 2px;
  text-transform: uppercase;
}

 p {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 30px; 
  margin-bottom: 20px;
  max-width: 700px; 
}

hr {
  width: 700px;
  margin-right: 570px;
}