body {
  margin: 20px;
}
h1 {
  text-align: center;
  padding: 4rem;
}

#holiday-header{
  text-align: center;
  padding: 2rem;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center; 
}

.card {
border-radius: 10px;
border: 1px solid #D9D9D9;
background: rgba(255, 255, 255, 0.90);
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
padding: 1rem;
width: 286px;
height: 433px;
justify-content: center;
}

.product-specs {
  display: flex;
  gap: 12px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

nav {
  border: 4px solid #FFC20E;
  padding: 0.5em;
  position: sticky;
  top: 0;
  z-index: 1000;
}



nav ul  {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  jusify-conetnt: left;
  padding: 10px 15px;
}

nav a {
  color: #000;
  text-decoration: none;
  padding: 0.5em 1em;
}

#holiday{
  background: #6FCDCC;
}
#holiday-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centers items along the main axis (horizontally by default) */
  align-items: center; 
  gap: 3rem;
}

.holiday-button {
  border-radius: 20px;
  border: 3px solid #F8F9FA;
  padding: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
  margin-bottom: 4rem;
}