body {
  margin: 20px;
}
h1 {
  text-align: center;
  padding: 4rem;
}

#holiday-header{
  text-align: center;
  padding: 2rem;
  margin-top: 0; 
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center; 
}

.card {
border-radius: 10px;
border: 1px solid #D9D9D9;
background: rgba(255, 255, 255, 0.90);
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
padding: 1rem;
width: 286px;
height: 433px;
justify-content: center; /* Centers the grid tracks */
align-items: center;
margin: 0 auto;
}

.product-specs {
  display: flex;
  gap: 12px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

nav {
  border: 4px solid #FFC20E;
  padding: 0.5em;
  position: sticky;
  top: 0;
  z-index: 1000;
}



nav ul  {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  jusify-conetnt: left;
  padding: 10px 15px;
}

nav a {
  color: #000;
  text-decoration: none;
  padding: 0.5em 1em;
}

#holiday-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centers items along the main axis (horizontally by default) */
  align-items: center; 
  gap: 3rem;
}

.holiday-button {
  border-radius: 20px;
  border: 3px solid #F8F9FA;
  padding: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
  margin-bottom: 4rem;
  color: #F8F9FA
}

#popular {
  background-color: #8B3FBF;
}



.section-dividers{
 width: 100%;
 height: 50%;
 display: block;
 position: absolute
 background-color: none;
 margin-bottom: -10px;
}

#holiday h2 {
  margin-top: 0;
  
}


#holiday {
  margin-bottom: 4rem;
}

#holiday-background {
background: #6FCDCC;
}


#new-products {
  background-color: #F8F9FA;
}

table {
  border-collapse: collapse;
  width: 70%;
  margin: 0 auto;
  padding: 2rem;
  margin-top: 48px;
}

.product-image {
  width: 100%;
  height: auto;
  max-height: 180px; /* Adjust to your preference */
  object-fit: contain; /* Keeps entire image visible */
  display: block;
}

.card h4 {
  background-color: #FBBF24;
  border-radius: 10px;
  padding: 0.75rem 2rem;
  width: fit-content; /* Shrinks to text size */
  margin:  auto 0; /* Centers and adds top margin */
  cursor: pointer;
}

.new-label {
  background-color: #FBBF24;
  color: #F8F9FA;
  border-radius: 7px;
  padding-left: 1rem;
  padding-right: 1rem;
  width: fit-content; /* Shrinks to text size */
  margin:  auto 0; /* Centers and adds top margin */
  cursor: pointer;
}

.gift-wrap {
 display: block;
 position: absolute;
 margin-bottom: 540px;
 margin-left: 120px;
}