@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Paytone+One&display=swap');


body {
    background: #F0F9FF;
}

.hero-image {
  width: 100%;
  display: block;
  height: auto;
  position: relative;
  z-index: 0;
  padding-bottom: 120px;
}


h1 {
  text-align: center;
  margin-top: -100px;
  font-family: "Paytone One";
  font-size: 4rem;
  background: #004A78;
  border-radius: 15px;
  margin: 2rem auto;
  color: #F0F9FF;
  max-width: fit-content;
  padding-left: 20px;
  padding-right: 20px;

}


p {
  line-height: 24px;
}

h2 {
color: #0891B2;
font-family: "Paytone One";
font-size: 2rem;
font-style: normal;
font-weight: 400;
line-height: normal;
border-left: 2px solid #004A78;
border-width: 5px;
padding-left: 10px;

}

/* Button 1 */
.button-1 {
  display: flex;
}

.button-1 p {
  display: flex;
  border: 3px solid #0891B2;
  max-width: fit-content;
  color: #F0F9FF;
  font-family: "Paytone One";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 12px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 30px;
}


.content {
  width: 100%;       /* lets content inside scale to the column width */
  max-width: 820px;
  margin: 0 auto;
  padding : 2rem;
  /* margin-left: 180px; */
  /* margin-right: 20px; */
  min-height: 100vh;
  color: #374151;
  font-family: Outfit;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  justify-content: center; 
  align-items: flex-start;
}